doctype html
html(lang='en')
  head
    title= title
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='author' content='Joe Longstreet')
    meta(name='creator' content='Joe Longstreet')
    meta(name='publisher' content='Joe Longstreet')
    meta(name='viewport' content='width=device-width initial-scale=1')
    meta(name='keywords' content=keywords)
    meta(name='description' content=excerpt)
    block head

  body
    h1
      a(href='/') Joe Longstreet
    article
      block article

    footer Joe Longstreet
    block foot
