doctype html
html(lang='en')
  head
    title= title
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='author' content='Joe Longstreet')
    meta(name='creator' content='Joe Longstreet')
    meta(name='publisher' content='Joe Longstreet')
    meta(name='viewport' content='width=device-width initial-scale=1')
    meta(name='keywords' content=keywords)
    meta(name='description' content=excerpt)
    link(rel='stylesheet', href='/public/style.css')
    block head

  body
    header.contained.primary
      h1
        a(href='/') Joe Longstreet
          small An inventor / maker living in Kansas City, Missouri

    article
      block article

    footer.contained.primary
      h1
        a(href='/') Joe Longstreet
      nav
        ul
          li
            a(href='https://github.com/joelongstreet/', target='_blank') on Github
          li
            a(href='http://twitter.com/joelongstreet', target='_blank') on Twitter
          li
            a(href='http://instagram.com/joelongstreet', target='_blank') on Instagram

    block foot
    include ./_analytics.jade
